@media screen and (max-width: 1200px) {
    header {


        & .menu {
            display: none;
            position: relative;



            &.active {
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: center;



                & ul {
                    position: absolute;
                    top: 0;
                    display: flex;
                    flex-direction: column;
                    gap: 3rem;
                    text-align: center;
                    background: var(--color---QUASE-BRANCO);
                    width: 100vw;
                    height: 100vh;
                    padding: 2rem;
                    margin: 0 auto;




                }

                & #active {
                    border: none;
                }
            }


        }

        & .fa-solid {
            display: block;
            font-size: 2rem;
            text-align: right;
            cursor: pointer;
            margin-bottom: .8rem;
            padding: 2%;
        }

        & .fa-solid:hover {
            color: var(--color-Blue-idmida);
        }

        & img {
            width: 100px;
        }

        & a {
            text-decoration: none;
        }

        & a:hover {
            color: var(--color-Blue-dark);
            text-transform: uppercase;
        }

        & #contact {
            margin: 0 auto;
        }





    }

    & #top {
        display: grid;
        grid-template-columns: 1fr 1fr;
        justify-content: flex-end;
        align-items: center;
        margin: 0 auto;


        & .item:nth-child(3) {
            /* ---  ---*/
            grid-column: 1 / 3;
            grid-row: 2;

        }
    }

    /* ------------- topo -------- */

    .topo {
        display: flex;
        flex-direction: column center flex-end;
        padding: 8% 14%;
        margin: 5% auto;
        gap: 0;
        overflow: hidden;


        & h1 {
            font-size: calc(15vw / 16 * 9);
            width: 100vw;
        }

        & .animated-text span{
            font-size: calc(10vw / 16 * 9);
        }

        & #img1 {
            top: 40%;
            right: 5%;
            scale: 0.6;
            z-index: 1;
        }

        & #img2 {
            position: absolute;
            top: 10%;
            right: 5%;
            scale: 1.1;
            z-index: 0;
        }

        & .form-top {


            & input {
                width: calc(15vw * 16 / 9);
            }

            & button {
                width: 100%;
            }
        }


    }

    .div2 {
        display: block;
        height: auto;
        padding-top: 5%;

        & #text-div2 {
            & h1 {
                font-size: calc(40vw / 16 * 9);
                border-radius: 10px;
                padding-left: 4%;
            }

            & h2 {
                font-size: calc(10vw / 16 * 9);
            }
        }

        & .slider {
            width: calc(20vw * 16 / 9);
            height: calc(90vw * 9 / 16);
        }


    }

    .diferenciais-div {


        & .text {
            width: 80%;
            border-radius: 20px;

            animation: up-in linear forwards;
            animation-timeline: view();
            animation-range: 0% 30%;

            & h1 {
                font-size: 1.5rem;

            }
        }


        & .cards {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            gap: 2rem;

            & section {
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                gap: 2rem;
                width: 80%;

                & img {
                    position: relative;

                    animation: fade-in linear forwards;
                    animation-timeline: view();
                    animation-range: 0% 30%;

                }

                & #card-right,
                & #card-left {
                    position: relative;
                }
            }
        }

    }


    .provas-social-div {

        & .container {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            gap: 2rem;
            height: auto;
            width: 100%;

            & .container-left,
            & .container-right {
                width: 75vw;
                padding: 0 15%;
            }


            & h2 {
                font-size: 1.5rem;
            }
        }
    }

    .planos-div {


        & img {
            z-index: 0;
            scale: 0.8;
        }

        & .logo-big-left {
            left: 5%;
        }

        & .logo-big-right {
            right: 5%;
        }

        & .logo-small-left {
            left: 10%;
        }

        & .logo-small-right {
            right: 13%;

        }

        & section aside {
            z-index: 1;
            width: 100vw;

        }


        & h2 {
            font-size: 2.5rem;
            padding: 0 15%;
            text-align: center;
        }



    }

    .FAQ-div {

        margin: 0 auto;

        & section {
            width: 100%;
        }
    }

    .sobre-nos-div {
        display: flex;
        flex-direction: column;


        & .value-left {
            padding: 0 15% 0 15%;
            width: 100%;
        }

        & .value-right {
            padding: 0 15% 0 15%;
            width: 100%;
            padding: 0 0 30% 0;

            & .value-grid {
                display: grid;
                grid-template-columns: repeat(2, 1fr);
            }
        }

        & .bg-rounded {
            display: none;
        }
    }

    .contact-form-div {
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        justify-content: center;
        gap: 1rem;

        & .contact-form,
        & .form {
            animation: none;
        }

        & .contact-form {
            
            display: flex;
            flex-direction: row;
            align-items: flex-start;
            gap: 4rem;
            width: 100%;
            margin: 0 auto;

            & h2{
                font-size: calc(10vw / 16 * 9);
            }

            & aside p{
                font-size: calc(5vw / 16 * 9);
            }
            & aside i{
                font-size: calc(8vw / 16 * 9);
            }
        }


    }

    .container-footer img {
        width: 50px;
    }
    .menu-footer{
        display: none;
    }



    /* ------------- root -------- */

    :root {
        --color-Blue-idmida: #0700FF;
        --color-quase-preto: #1D1D1D;
        --color---QUASE-BRANCO: #FCFCFC;
        --color-Blue-dark: #1200B5;
        --color-Blue-light: #0099FF;
        --color-Gray-light: #ebebeb;
        --color-Gray-dark: #949494;
        --color-Red-dark: #ff0000;
    }
}